@import "config";
@import "colors";
@import "font";
@import "product";
@import "card";


$bg: white;

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "dosis", sans-serif;
}
